.vcenter-box {
  /* To align children vertically. */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;    
}

#problem-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#result {
  display: inline-block;
  min-width: 30vmin;
  background-color: #D0D0D0;
}

#score {
  display: inline-block;
}

#score > svg{
  --scale: 1;
  transform-origin: top left;
  transform: scale(var(--scale));
}

#result-box {
  height: 30%;
  display: inline-block;
}

#result {
  font-size: 20vh;
  line-height: 20vh;
}

/* 3 rows only */
#keypad {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

/* Landscape */
@media screen and (orientation: landscape) {
  #main {
    grid-template: 1fr 8vmax / 1.5fr 1fr;
  }
  #score {
    transform: scale(1.5);
  }  
}

/* Portrait */
@media screen and (orientation: portrait) {
  #main {
    grid-template: 1fr 1.2fr 8vmax / 1fr;
  }
  #score {
    transform: scale(1.5);
  }  
}
