.vcenter-box {
  /* To align children vertically. */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;    
}

.bigfont {
  xalign-items: center;
}

#problem {
  xflex: 1 70%;
}

#problem-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#result {
  display: inline-block;
  min-width: 30vmin;
  background-color: #D0D0D0;
}



#xxxproblem {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}

#score {
  /* position: relative; */
  height: 70%;
  display: inline-block;
}

#score > svg{
  --scale: 1;
  transform-origin: top left;
  transform: scale(var(--scale));
}

#result-box {
  height: 30%;
  display: inline-block;
}

#result {
  font-size: 20vh;
  line-height: 20vh;
}
  

